@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);
/* Font for the menu page */
@import url(https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap);
/* Font of the home page */
@import url(https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text{
  margin-top: -1px !important;
}

body{
  background: rgba(255, 255, 255, 0.835)
}

.bg-color{
  background: linear-gradient(gray,rgb(187, 172, 172));
}

section{
    /* height: 100vh; */
    height: auto;
    /* border: 2px solid red; */
    padding: 0px !important;
    margin: 0!important;
}

.icon{
  border-radius: 50%;
}

.tx-shadow{
  text-shadow: 3px 3px 2px black !important;
}

.img-ht{
  height: 100vh;
  width:50%;
  filter: contrast(85%);
  box-shadow: 0px 2px 5px 1px gray;
}

.blur{
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ) !important;
    z-index: 3 !important;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

h2 {
  font-size: 2rem;
}
p {
  margin: 0;
  font-size: 1.3rem;
  font-family: 'Akaya Kanadaka', cursive;
}
h5{
  font-size: 1.7rem;
  font-family: 'Akaya Kanadaka', cursive;
  word-spacing: 10px;
}


main {
  max-width: 500px;
  margin: 20px auto;
}

.btn-container{
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%,50%);
}
  
h1{
   font-family: 'Lobster Two', cursive;
  color: white;
  margin: 0;
  word-spacing: 10px;
  font-size: 2rem;
  white-space: nowrap;
}

.rating-section .row{
    width: 100% !important;
    padding: 0%!important;
    margin: 0% !important;
}

/* MENU PAGE */

h3 {
  font-family: 'Akaya Kanadaka', cursive;
}

tr{
  font-family: 'Akaya Kanadaka', cursive;
}

.head-bg{
  background: radial-gradient(closest-side, #ebf8e1, #f69d3c);
  /* background: radial-gradient(closest-side, #cccccc, #ebf8e1, #52504f); */
  background-repeat: no-repeat;
  background-size: cover;
}